:root {
  --fs-lg: 1.25rem;
  --fw-semibold: 500;
  --header-height:90px;
}

html {
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
}

/* Navegacion
======================================================*/
#navigation-container {
  position:fixed;
  z-index:50;
  top:0;
  left:0;
  width:100vw;
  height: var(--header-height);
}

header.dom-content-header #navigation-container .navbar-nav>li>a {
  padding: 0 0.33rem;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

.box_design_full {
  font-family: "Poppins", sans-serif !important;
}

.box_design_full .box-desig-info .design_name a {
  font-family: "Poppins", sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--fs-lg);
}
