:root {
  /* fonts and texts*/
  --font-family-primary: "Poppins", sans-serif !important;
  --fs-xxl: 3.5rem;
  --fs-xl:2.25rem;
  --fs-lg: 1.25rem;
  --fs-regular: 1.125rem;
  --fs-sm: 1rem;
  --fs-xs: 0.90rem;
  --fw-semibold: 500;
  --fw-light: 300;
  --fw-regular:400;
  
  /* colors */
  --color-dark: #333132;
  --color-secondary: #333132cc;
  
  /* sizing and positions */
  --header-height:90px;
  
  --link-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0cHgiIGZpbGw9ImN1cnJlbnRDb2xvciI+PHJlY3QgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgd2lkdGg9IjI0Ii8+PHBhdGggZD0iTTksNXYyaDYuNTlMNCwxOC41OUw1LjQxLDIwTDE3LDguNDFWMTVoMlY1SDl6Ii8+PC9zdmc+");
}

html {
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
}

body {
  font-size: 1rem !important;
  font-weight: var(--fw-light);
  color: #333132;
}

#content_global {
  max-width:100vw;
  overflow-x:hidden;
}

/* Reset de Tipografia
======================================================*/
.summary_checkout .form_group .summ_total strong,
.checkout .step strong span,
body, .bredcrumb b,
.page_breadcrumb b,
.breadcrumb b,
.breadcrumbs b,
.page_breadcrumb a, #subtotal_itms {
  font-family: var(--font-family-primary);
}

/* Navegacion
======================================================*/
#navigation-container {
  position:fixed;
  z-index:50;
  top:0;
  left:0;
  width:100vw;
  height: var(--header-height);
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#navigation-container:before, #navigation-container:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

header.dom-content-header #navigation-container .navbar-nav>li>a {
  padding: 0 0.33rem;
  font-weight: var(--fw-light);
  text-transform: uppercase;
}

header.dom-content-header #navigation-container .navbar-nav>li>a:hover {
  color:black;
}

/* Widget Titulo Boton
========================================================*/
.wdgt_h .fila_wdgt.tituloBoton .row>div {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
}

.wdgt_h .fila_wdgt.tituloBoton .row>div .fila_wdgt[data-edit="Ititle"] * {
  font-family: var(--font-family-primary);
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  font-size: var(--fs-xl) !important;
  text-align: left !important;
  padding-left: calc( 100% / 24 );
  color: var(--color-dark) !important;
  position:relative;
}
.wdgt_h .fila_wdgt.tituloBoton .fila_wdgt div[data-edit="Itext"] * {
  font-family: var(--font-family-primary);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  font-size: var(--fs-lg) !important;
  text-align: left !important;
  padding-left: calc( 100% / 24 );
  color: var(--color-secondary) !important;
  position:relative;
}

.wdgt_h .fila_wdgt.tituloBoton .fila_wdgt div[data-edit="Itext"] p:not(:empty) {
  padding-top: 2em;
}
.wdgt_h .fila_wdgt.tituloBoton .fila_wdgt div [data-edit="Itext"] p:not(:empty):before {
  position:absolute;
  content: "";
  display:block;
  height:1px;
  top:1em;
  left:0;
  width:3.5em;
  background-color: var(--color-accent-1);
}

.wdgt_h .fila_wdgt.tituloBoton .row>div .fila_wdgt div[data-edit="Ibutton"] a.boton {
  background-color: transparent;
  padding: 0 2em 0 0;
  color: var(--color-dark) !important;
  background: var(--link-arrow);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.box_design_full {
  font-family: "Poppins", sans-serif !important;
}

.box_design_full .box-desig-info .design_name a {
  font-family: "Poppins", sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--fs-lg);
}
